@import "mixins.scss";

.contact-block-one {
    position:relative;
    padding: 35px;
    background: rgb(21,5,120);
    background: linear-gradient(313deg, rgba(21,5,120,1) 20%, rgba(80,64,173,1) 80%);
    @include screen(1024) {
        padding:50px 0;
    }
    @include screen(1280) {
        padding: 75px 0;
    }
    &:before {
        content:"";
        top:0;
        bottom:0;
        left:0;
        width:100%;
        position: absolute;
        background:url("bg.svg");
        background-repeat: no-repeat;
        background-position: left;
        mix-blend-mode: overlay;
        z-index: 1;
    }
    .form {
        @include screen(1280) {
            flex: 0 0 700px;
        }
    }
    .wrapper {
        position: relative;
        z-index: 2;
        @include screen(1024) {
            display: flex;
            gap: 25px;
            align-items: center;
            justify-content: center;
        }
        @include screen(1280) {
            gap: 75px;
        }
        h2 {
            text-align: center;
            color:white;
            font-weight:700;
        }
    }
}
    
.gform {
    &_fields {
        display:flex;
        flex-wrap:wrap;
        column-gap:25px;
        row-gap:20px;
        @include screen(1280) {
            column-gap:14px;
        }
    }
    &_heading {
        display:none;
    }
    &_button {
        transform: translate(0px, -5px);
        transition: all 0.3s ease-out;
        display: block;
        background: white;
        z-index: 2;
        border-radius: 55px;
        color: #150578;
        position: relative;
        padding: 15px 25px;
        font-size: 18px;
        cursor: pointer;
        border: none;
        min-width: 200px;
        @include screen(1280) {
            min-width: 356px;
            font-size: 22px !important;
            padding: 22px 40px;
        }
        &:hover {
            transform: translate(3px,-7px);
        }
    }
    &_submission_error {
        font-size: 15px;
        color: #d3791d;
        margin: 25px 0;
        border: 2px solid #d3791d;
        border-radius: 3px;
        padding: 20px;
        outline: none;
    }
    &_validation_errors {
        &:focus-visible {
            outline: none;
        }
    }
    &_footer {
        margin-top: 25px;
        &.before {
            width: fit-content;
            margin: auto;
            margin-top: 25px;
            position: relative;
            &:before {
                content:"";
                position:absolute;
                top:0;
                bottom:0;
                left:0;
                right:0;
                border-radius: 55px;
                background: #f90;
            }
        }
    }
    &_wrapper {
        @include screen(1280) {
            margin-top: 35px;
        }
    }
}

.gfield {
    &_validation_message {
        color: #d3791d;
        font-size: 14px;
        margin-top: 15px;
        font-weight: 700;
    }
    &_error {
        border: 1px solid #d3791d!important;
        padding: 15px;
    }
    &_label {
        margin-bottom: 12px;
        margin-left: 20px;
        display: block;
    }
    &--width {
        &-half {
            flex:0 0 100%;
            max-width: 100%;
            @include screen(768) {
                flex:0 0 100%;
                max-width: 100%;
            }
            @include screen(1280) {
                flex:0 0 calc(50% - 7px);
                max-width: calc(50% - 7px)
            }
        }
        &-full {
            flex:0 0 100%;
            max-width: 100%;
        }
    }
    &--type {
        &-checkbox {
            border:none;
            legend {
                display:none;
            }
            a {
                color:#28334D;
            }
            label {
                font-weight: 400 !important;
                font-size: 14px;
            }
            input {
                min-height: unset !important;
                width: fit-content !important;
                margin-bottom: 3px !important;
                margin-right: 15px;
                &:focus {
                    outline:none !important;
                }
            }
            .gchoice {
                display: flex;
            }
        }
        &-honeypot {
            display:none;
        }

    }
}

.gfield {
    label {
        color: white;
        font-weight: 500;
        font-size:18px;
    }
    input,
    textarea {
        border-radius: 20px;
        border:none;
        outline: none;
        transition:all 0.25s ease-out;
        border: 1px solid;
        border-color:rgba(136, 136, 136, 1);
        font-size: 15px;
        padding: 0 20px;
        min-height: 56px;
        width: 100%;
        box-sizing: border-box;
        &:focus {
            border-color:#002f3d;
            outline:1px solid #002f3d;
        }
        &::placeholder {
            font-size: 16px;
            color: #262626;
            font-family: "Comfortaa",sans-serif;
        }
    }
    textarea {
        height: 220px;
        padding: 20px;
        border-radius: 20px;
    }
}

.gform_ajax_spinner {
    display:none;
}

.gform_confirmation_message_1 {
    color:white;
}