.contact-block-one {
  position: relative;
  padding: 35px;
  background: rgb(21, 5, 120);
  background: linear-gradient(313deg, rgb(21, 5, 120) 20%, rgb(80, 64, 173) 80%);
}
@media only screen and (min-width: 1024px) {
  .contact-block-one {
    padding: 50px 0;
  }
}
@media only screen and (min-width: 1280px) {
  .contact-block-one {
    padding: 75px 0;
  }
}
.contact-block-one:before {
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  position: absolute;
  background: url("bg.svg");
  background-repeat: no-repeat;
  background-position: left;
  mix-blend-mode: overlay;
  z-index: 1;
}
@media only screen and (min-width: 1280px) {
  .contact-block-one .form {
    flex: 0 0 700px;
  }
}
.contact-block-one .wrapper {
  position: relative;
  z-index: 2;
}
@media only screen and (min-width: 1024px) {
  .contact-block-one .wrapper {
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: center;
  }
}
@media only screen and (min-width: 1280px) {
  .contact-block-one .wrapper {
    gap: 75px;
  }
}
.contact-block-one .wrapper h2 {
  text-align: center;
  color: white;
  font-weight: 700;
}

.gform_fields {
  display: flex;
  flex-wrap: wrap;
  column-gap: 25px;
  row-gap: 20px;
}
@media only screen and (min-width: 1280px) {
  .gform_fields {
    column-gap: 14px;
  }
}
.gform_heading {
  display: none;
}
.gform_button {
  transform: translate(0px, -5px);
  transition: all 0.3s ease-out;
  display: block;
  background: white;
  z-index: 2;
  border-radius: 55px;
  color: #150578;
  position: relative;
  padding: 15px 25px;
  font-size: 18px;
  cursor: pointer;
  border: none;
  min-width: 200px;
}
@media only screen and (min-width: 1280px) {
  .gform_button {
    min-width: 356px;
    font-size: 22px !important;
    padding: 22px 40px;
  }
}
.gform_button:hover {
  transform: translate(3px, -7px);
}
.gform_submission_error {
  font-size: 15px;
  color: #d3791d;
  margin: 25px 0;
  border: 2px solid #d3791d;
  border-radius: 3px;
  padding: 20px;
  outline: none;
}
.gform_validation_errors:focus-visible {
  outline: none;
}
.gform_footer {
  margin-top: 25px;
}
.gform_footer.before {
  width: fit-content;
  margin: auto;
  margin-top: 25px;
  position: relative;
}
.gform_footer.before:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 55px;
  background: #f90;
}
@media only screen and (min-width: 1280px) {
  .gform_wrapper {
    margin-top: 35px;
  }
}

.gfield_validation_message {
  color: #d3791d;
  font-size: 14px;
  margin-top: 15px;
  font-weight: 700;
}
.gfield_error {
  border: 1px solid #d3791d !important;
  padding: 15px;
}
.gfield_label {
  margin-bottom: 12px;
  margin-left: 20px;
  display: block;
}
.gfield--width-half {
  flex: 0 0 100%;
  max-width: 100%;
}
@media only screen and (min-width: 768px) {
  .gfield--width-half {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media only screen and (min-width: 1280px) {
  .gfield--width-half {
    flex: 0 0 calc(50% - 7px);
    max-width: calc(50% - 7px);
  }
}
.gfield--width-full {
  flex: 0 0 100%;
  max-width: 100%;
}
.gfield--type-checkbox {
  border: none;
}
.gfield--type-checkbox legend {
  display: none;
}
.gfield--type-checkbox a {
  color: #28334D;
}
.gfield--type-checkbox label {
  font-weight: 400 !important;
  font-size: 14px;
}
.gfield--type-checkbox input {
  min-height: unset !important;
  width: fit-content !important;
  margin-bottom: 3px !important;
  margin-right: 15px;
}
.gfield--type-checkbox input:focus {
  outline: none !important;
}
.gfield--type-checkbox .gchoice {
  display: flex;
}
.gfield--type-honeypot {
  display: none;
}

.gfield label {
  color: white;
  font-weight: 500;
  font-size: 18px;
}
.gfield input,
.gfield textarea {
  border-radius: 20px;
  border: none;
  outline: none;
  transition: all 0.25s ease-out;
  border: 1px solid;
  border-color: rgb(136, 136, 136);
  font-size: 15px;
  padding: 0 20px;
  min-height: 56px;
  width: 100%;
  box-sizing: border-box;
}
.gfield input:focus,
.gfield textarea:focus {
  border-color: #002f3d;
  outline: 1px solid #002f3d;
}
.gfield input::placeholder,
.gfield textarea::placeholder {
  font-size: 16px;
  color: #262626;
  font-family: "Comfortaa", sans-serif;
}
.gfield textarea {
  height: 220px;
  padding: 20px;
  border-radius: 20px;
}

.gform_ajax_spinner {
  display: none;
}

.gform_confirmation_message_1 {
  color: white;
}

/*# sourceMappingURL=style.css.map */
