{% extends "block-base.twig" %}

{% block content %}
<div class="orange-bar"></div>
<section id="contact" class="{{blockClasses(block)}}" {{blockSection(block)}}>
    <div class="container">
        <div class="wrapper">
            <div class="form">
                <h2>Contact Details</h2>
                [gravityform id="{{fields.form.id}}" title="false"]
            </div>
        </div>
    </div>
</section>
<div class="orange-bar"></div>
{% endblock %}
