.footer {
  padding: 36px;
}
@media only screen and (min-width: 1024px) {
  .footer {
    padding: 50px;
  }
}
.footer svg {
  max-width: 100%;
}
.footer .inner {
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
