{% extends "block-base.twig" %}

{% block content %}
<footer class="footer {{blockClasses(block)}}" {{blockSection(block)}}>
    <div class="container">
        <div class="inner">
            <svg id="Footer_Logo" data-name="Footer Logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="371.57" height="125.536" viewBox="0 0 371.57 125.536">
                <defs>
                    <linearGradient id="linear-gradient" x1="0.003" y1="-0.01" x2="1.134" y2="1.097" gradientUnits="objectBoundingBox">
                    <stop offset="0.25" stop-color="#f90"/>
                    <stop offset="1" stop-color="#150578"/>
                    </linearGradient>
                </defs>
                <path id="Path_267" data-name="Path 267" d="M119.879,16.34a3.614,3.614,0,0,0-3.3,2L95.854,60.982,74.582,18.344a3.633,3.633,0,0,0-3.3-2,3.72,3.72,0,0,0-2.659,1.049,3.6,3.6,0,0,0-1.067,2.7V68.622a3.659,3.659,0,0,0,1.067,2.659,3.846,3.846,0,0,0,5.318,0,3.557,3.557,0,0,0,1.067-2.659V33.642L92.147,67.985a3.6,3.6,0,0,0,3.445,2.228,3.681,3.681,0,0,0,3.221-1.873l17.359-35.372V68.622a3.659,3.659,0,0,0,1.067,2.659,3.528,3.528,0,0,0,2.659,1.067,3.574,3.574,0,0,0,2.622-1.067,3.52,3.52,0,0,0,1.1-2.659V20.085a3.6,3.6,0,0,0-1.067-2.7A3.688,3.688,0,0,0,119.9,16.34Z" transform="translate(58.949 14.257)" fill="#150578"/>
                <path id="Path_268" data-name="Path 268" d="M129.708,27.622A17.972,17.972,0,0,0,120.1,25.15,19.657,19.657,0,0,0,110.065,27.7a18.161,18.161,0,0,0-6.854,7.022,21.12,21.12,0,0,0-2.472,10.355,19.891,19.891,0,0,0,2.622,10.28,18.41,18.41,0,0,0,7.247,7.022,21.521,21.521,0,0,0,10.58,2.547,21.981,21.981,0,0,0,6.928-1.217,19.72,19.72,0,0,0,6.067-3.165,2.54,2.54,0,0,0,1.142-2.228,3.434,3.434,0,0,0-1.292-2.359,3.156,3.156,0,0,0-2.191-.749,3.986,3.986,0,0,0-2.322.824,14.08,14.08,0,0,1-3.764,1.891,13.769,13.769,0,0,1-4.55.824,14.4,14.4,0,0,1-7.247-1.8,13.266,13.266,0,0,1-4.944-4.869,12.847,12.847,0,0,1-1.592-4.513h27.264a3.25,3.25,0,0,0,2.359-.9,3.021,3.021,0,0,0,.936-2.266,22.573,22.573,0,0,0-2.116-10,16.114,16.114,0,0,0-6.123-6.816Zm-16.591,5.487a13.007,13.007,0,0,1,6.985-1.8,10.75,10.75,0,0,1,6.086,1.648,11.131,11.131,0,0,1,3.876,4.475,14.579,14.579,0,0,1,1.273,4.419H107.481a15.318,15.318,0,0,1,1.217-3.839,11.553,11.553,0,0,1,4.419-4.906Z" transform="translate(87.901 21.945)" fill="#150578"/>
                <path id="Path_269" data-name="Path 269" d="M159.6,16.34a3.617,3.617,0,0,0-2.622,1.011,3.527,3.527,0,0,0-1.03,2.659V39.372a17.775,17.775,0,0,0-6.03-4.775,18.18,18.18,0,0,0-17.209.861,18.561,18.561,0,0,0-6.554,7.1,21.049,21.049,0,0,0-2.4,10.149,19.982,19.982,0,0,0,2.622,10.187,19.358,19.358,0,0,0,7.1,7.134,19.668,19.668,0,0,0,10.074,2.622,19.3,19.3,0,0,0,17.1-9.756A19.983,19.983,0,0,0,163.271,52.7V20.01a3.473,3.473,0,0,0-3.67-3.67Zm-5.018,43.237a12.344,12.344,0,0,1-4.513,4.831,12.908,12.908,0,0,1-13.014,0,12.79,12.79,0,0,1-4.588-4.831,14.931,14.931,0,0,1,0-13.782,12.909,12.909,0,0,1,4.588-4.775,12.908,12.908,0,0,1,13.014,0,12.579,12.579,0,0,1,4.513,4.775,14.048,14.048,0,0,1,1.648,6.891A14.2,14.2,0,0,1,154.582,59.577Z" transform="translate(107.987 14.257)" fill="#150578"/>
                <path id="Path_270" data-name="Path 270" d="M163.914,29.16a21.5,21.5,0,0,1,6.554-4.738,18.83,18.83,0,0,1,7.958-1.723,19.361,19.361,0,0,1,7.49,1.217,21.077,21.077,0,0,1,5.487,3.52,3.708,3.708,0,0,0,4.981-.112,2.986,2.986,0,0,0,.974-2.266,4.668,4.668,0,0,0-.112-1.1,2.622,2.622,0,0,0-.431-.936,3.407,3.407,0,0,0-.9-.9,27.449,27.449,0,0,0-8-4.738,28.127,28.127,0,0,0-9.494-1.442,26.693,26.693,0,0,0-10.9,2.228,27.485,27.485,0,0,0-8.782,6.123,28.3,28.3,0,0,0-5.88,9.1,29.6,29.6,0,0,0-2.116,11.217,30.249,30.249,0,0,0,2.116,11.329,28.268,28.268,0,0,0,5.88,9.138,27.1,27.1,0,0,0,19.681,8.277,27.411,27.411,0,0,0,9.288-1.573,28.687,28.687,0,0,0,8.277-4.663,3.959,3.959,0,0,0,.861-1.255,3.616,3.616,0,0,0,.281-1.4,3.4,3.4,0,0,0-.861-2.472,3.238,3.238,0,0,0-2.116-1.011,3.763,3.763,0,0,0-2.547.824,26.992,26.992,0,0,1-6.273,3.483,19.691,19.691,0,0,1-14.887-.431,20.365,20.365,0,0,1-6.554-4.7,21.784,21.784,0,0,1-4.4-6.985,23.119,23.119,0,0,1-1.573-8.576,22.726,22.726,0,0,1,1.573-8.5,21.9,21.9,0,0,1,4.4-6.985Z" transform="translate(131.537 13.908)" fill="#150578"/>
                <path id="Path_271" data-name="Path 271" d="M214.294,34.719A18.366,18.366,0,0,0,207.31,27.7a20.069,20.069,0,0,0-10.187-2.547A20.4,20.4,0,0,0,186.861,27.7a18.5,18.5,0,0,0-6.985,7.022,20.557,20.557,0,0,0-2.547,10.355,20.225,20.225,0,0,0,2.547,10.28,18.366,18.366,0,0,0,6.985,7.022,21.947,21.947,0,0,0,20.523,0,18.269,18.269,0,0,0,6.947-7.022,20.8,20.8,0,0,0,2.509-10.28A20.656,20.656,0,0,0,214.294,34.719ZM208.208,52.04a12.108,12.108,0,0,1-4.475,4.738,13.471,13.471,0,0,1-13.183,0,12.208,12.208,0,0,1-4.513-4.738,14.167,14.167,0,0,1-1.648-6.947,14.365,14.365,0,0,1,1.648-6.985,12.446,12.446,0,0,1,4.513-4.775,13.471,13.471,0,0,1,13.183,0,11.841,11.841,0,0,1,4.475,4.775,14.834,14.834,0,0,1,1.61,6.985A14.575,14.575,0,0,1,208.208,52.04Z" transform="translate(154.729 21.945)" fill="#150578"/>
                <path id="Path_272" data-name="Path 272" d="M72.156,57.835a7.265,7.265,0,0,1,2.3-1.667,6.665,6.665,0,0,1,2.79-.6A6.769,6.769,0,0,1,79.871,56,7.3,7.3,0,0,1,81.8,57.236a1.312,1.312,0,0,0,1.76-.037,1.02,1.02,0,0,0,.337-.786,1.277,1.277,0,0,0-.037-.393.993.993,0,0,0-.15-.318,1.7,1.7,0,0,0-.318-.318,9.645,9.645,0,0,0-2.809-1.667,9.829,9.829,0,0,0-3.333-.506A9.3,9.3,0,0,0,73.43,54a9.585,9.585,0,0,0-3.071,2.153,9.814,9.814,0,0,0-2.06,3.183,10.5,10.5,0,0,0-.749,3.932,10.331,10.331,0,0,0,.749,3.97,9.9,9.9,0,0,0,2.06,3.2,9.327,9.327,0,0,0,3.09,2.135,9.575,9.575,0,0,0,3.8.768,9.459,9.459,0,0,0,3.258-.562,10.379,10.379,0,0,0,2.9-1.629,1.283,1.283,0,0,0,.3-.431,1.077,1.077,0,0,0,.094-.487,1.15,1.15,0,0,0-.3-.861,1.227,1.227,0,0,0-.749-.356,1.415,1.415,0,0,0-.9.281,9.791,9.791,0,0,1-2.191,1.217,6.571,6.571,0,0,1-2.416.431,6.446,6.446,0,0,1-2.79-.6,7.336,7.336,0,0,1-2.3-1.648,7.551,7.551,0,0,1-1.535-2.453,8.353,8.353,0,0,1-.562-3,7.991,7.991,0,0,1,2.1-5.43Z" transform="translate(58.941 46.428)" fill="#f90"/>
                <path id="Path_273" data-name="Path 273" d="M91.108,55.756a1.382,1.382,0,0,0,.936-.318,1.171,1.171,0,0,0,.356-.861,1.185,1.185,0,0,0-.356-.9,1.305,1.305,0,0,0-.936-.337H79.761a1.384,1.384,0,0,0-.936.356,1.285,1.285,0,0,0-.375.936v17a1.316,1.316,0,0,0,.375.936,1.285,1.285,0,0,0,.936.375H91.108a1.305,1.305,0,0,0,.936-.337,1.227,1.227,0,0,0,.356-.9,1.078,1.078,0,0,0-.356-.861,1.3,1.3,0,0,0-.936-.318H81.072V64.257h7.209a1.305,1.305,0,0,0,.936-.337,1.221,1.221,0,0,0,0-1.723,1.305,1.305,0,0,0-.936-.337H81.072v-6.1H91.108Z" transform="translate(68.452 46.542)" fill="#f90"/>
                <path id="Path_274" data-name="Path 274" d="M96.556,57.835a7.265,7.265,0,0,1,2.3-1.667,6.665,6.665,0,0,1,2.79-.6,6.769,6.769,0,0,1,2.622.431,7.608,7.608,0,0,1,1.929,1.236,1.312,1.312,0,0,0,1.76-.037,1.02,1.02,0,0,0,.337-.786,1.276,1.276,0,0,0-.037-.393.993.993,0,0,0-.15-.318,1.7,1.7,0,0,0-.318-.318,9.645,9.645,0,0,0-2.809-1.667,9.828,9.828,0,0,0-3.333-.506A9.3,9.3,0,0,0,97.83,54a9.586,9.586,0,0,0-3.071,2.153,9.814,9.814,0,0,0-2.06,3.183,10.5,10.5,0,0,0-.749,3.932,10.331,10.331,0,0,0,.749,3.97,9.9,9.9,0,0,0,2.06,3.2,9.327,9.327,0,0,0,3.09,2.135,9.575,9.575,0,0,0,3.8.768,9.459,9.459,0,0,0,3.258-.562,10.379,10.379,0,0,0,2.9-1.629,1.283,1.283,0,0,0,.3-.431,1.077,1.077,0,0,0,.094-.487,1.15,1.15,0,0,0-.3-.861,1.227,1.227,0,0,0-.749-.356,1.312,1.312,0,0,0-.9.281,9.791,9.791,0,0,1-2.191,1.217,6.571,6.571,0,0,1-2.416.431,6.446,6.446,0,0,1-2.79-.6,7.336,7.336,0,0,1-2.3-1.648,7.55,7.55,0,0,1-1.535-2.453,8.353,8.353,0,0,1-.562-3,7.991,7.991,0,0,1,2.1-5.43Z" transform="translate(80.231 46.428)" fill="#f90"/>
                <path id="Path_275" data-name="Path 275" d="M112.315,57.329a6.977,6.977,0,0,0-3.558-.9,7.166,7.166,0,0,0-3.6.9,6.7,6.7,0,0,0-2.453,2.453,7.16,7.16,0,0,0-.9,3.633,6.972,6.972,0,0,0,.9,3.6,6.3,6.3,0,0,0,2.453,2.453,7.64,7.64,0,0,0,7.191,0,6.513,6.513,0,0,0,2.434-2.453,7.787,7.787,0,0,0-.019-7.228A6.3,6.3,0,0,0,112.315,57.329Zm.318,8.52a4.213,4.213,0,0,1-1.573,1.667,4.491,4.491,0,0,1-2.3.6,4.443,4.443,0,0,1-2.3-.6,4.264,4.264,0,0,1-1.592-1.667,4.927,4.927,0,0,1-.58-2.434,5,5,0,0,1,.58-2.453,4.264,4.264,0,0,1,1.592-1.667,4.492,4.492,0,0,1,2.3-.6,4.443,4.443,0,0,1,2.3.6,4.093,4.093,0,0,1,1.573,1.667,5.207,5.207,0,0,1,.562,2.453A5.078,5.078,0,0,1,112.633,65.849Z" transform="translate(88.834 49.238)" fill="#f90"/>
                <path id="Path_276" data-name="Path 276" d="M121.173,57.159a6.52,6.52,0,0,0-3.108-.749,6.018,6.018,0,0,0-3,.73,5.041,5.041,0,0,0-1.273.955v-.281a1.222,1.222,0,0,0-1.292-1.292,1.2,1.2,0,0,0-.918.356,1.242,1.242,0,0,0-.356.936v11.2a1.219,1.219,0,0,0,1.273,1.273,1.271,1.271,0,0,0,.936-.356,1.227,1.227,0,0,0,.356-.918V61.934a2.813,2.813,0,0,1,.506-1.648,3.665,3.665,0,0,1,1.348-1.142,4.216,4.216,0,0,1,1.91-.431,4.677,4.677,0,0,1,2.041.431,3.4,3.4,0,0,1,1.423,1.348,4.562,4.562,0,0,1,.524,2.341v6.179a1.274,1.274,0,1,0,2.547,0V62.833a7.247,7.247,0,0,0-.786-3.52,5.346,5.346,0,0,0-2.153-2.172Z" transform="translate(97.054 49.221)" fill="#f90"/>
                <path id="Path_277" data-name="Path 277" d="M129.145,63.142a10.694,10.694,0,0,0-2.977-.955,13.145,13.145,0,0,1-2.06-.562,1.907,1.907,0,0,1-.936-.655,1.419,1.419,0,0,1-.243-.824,1.191,1.191,0,0,1,.768-1.1,4.333,4.333,0,0,1,1.873-.375,5.739,5.739,0,0,1,1.685.225,3.416,3.416,0,0,1,1.348.824,1.635,1.635,0,0,0,.936.449,1.255,1.255,0,0,0,.955-.169,1.013,1.013,0,0,0,.431-.749,1.251,1.251,0,0,0-.318-.843,5.067,5.067,0,0,0-2.041-1.461,7.623,7.623,0,0,0-2.94-.524,7.18,7.18,0,0,0-2.453.412,4.611,4.611,0,0,0-1.929,1.255,3.049,3.049,0,0,0-.749,2.116,3.1,3.1,0,0,0,1.142,2.453,7.737,7.737,0,0,0,3.67,1.5,7.125,7.125,0,0,1,2.7.9,1.553,1.553,0,0,1,.712,1.311,1.452,1.452,0,0,1-.786,1.236,4.246,4.246,0,0,1-2.228.468,5.114,5.114,0,0,1-2.1-.412,3.915,3.915,0,0,1-1.367-.9,1.492,1.492,0,0,0-.843-.449,1.363,1.363,0,0,0-.992.337,1.232,1.232,0,0,0-.487.843,1.079,1.079,0,0,0,.318.918,6.153,6.153,0,0,0,2.322,1.367,9.592,9.592,0,0,0,3.258.543,7.04,7.04,0,0,0,2.977-.562,4.373,4.373,0,0,0,1.816-1.479,3.664,3.664,0,0,0,.618-2.079,3.335,3.335,0,0,0-.487-1.779,3.935,3.935,0,0,0-1.573-1.348Z" transform="translate(104.624 49.229)" fill="#f90"/>
                <path id="Path_278" data-name="Path 278" d="M139.111,56.47a1.227,1.227,0,0,0-.918.356,1.242,1.242,0,0,0-.356.936V64.84a2.8,2.8,0,0,1-.506,1.629,3.71,3.71,0,0,1-1.348,1.161,4.24,4.24,0,0,1-1.929.431,4.655,4.655,0,0,1-2.041-.449,3.294,3.294,0,0,1-1.423-1.348,4.733,4.733,0,0,1-.524-2.322V57.762a1.3,1.3,0,0,0-.356-.918,1.2,1.2,0,0,0-.918-.356,1.3,1.3,0,0,0-.918.356,1.227,1.227,0,0,0-.356.918v6.179a7.247,7.247,0,0,0,.786,3.52,5.347,5.347,0,0,0,2.153,2.172,6.52,6.52,0,0,0,3.108.749,5.968,5.968,0,0,0,3-.73,5.4,5.4,0,0,0,1.273-.955v.281a1.219,1.219,0,0,0,1.273,1.273,1.27,1.27,0,0,0,.936-.356,1.227,1.227,0,0,0,.356-.918v-11.2a1.242,1.242,0,0,0-.356-.936,1.317,1.317,0,0,0-.936-.356Z" transform="translate(111.267 49.273)" fill="#f90"/>
                <path id="Path_279" data-name="Path 279" d="M140.94,70.446H140.3a1.022,1.022,0,0,1-.9-.6,2.914,2.914,0,0,1-.356-1.535V54.6a1.158,1.158,0,0,0-.356-.9,1.214,1.214,0,0,0-.9-.356,1.185,1.185,0,0,0-.9.356,1.291,1.291,0,0,0-.356.9V68.312a5.7,5.7,0,0,0,.468,2.4,4.151,4.151,0,0,0,1.33,1.648,3.348,3.348,0,0,0,1.966.6h.056A1.975,1.975,0,0,0,141.6,72.6a1.106,1.106,0,0,0,.487-.9,1.316,1.316,0,0,0-.318-.9,1.087,1.087,0,0,0-.824-.356Z" transform="translate(119.138 46.551)" fill="#f90"/>
                <path id="Path_280" data-name="Path 280" d="M147.511,69.74h-.861a1.65,1.65,0,0,1-1.348-.674,2.647,2.647,0,0,1-.562-1.685v-6.2h2.135a1.209,1.209,0,0,0,.861-.3.953.953,0,0,0,.318-.749,1.086,1.086,0,0,0-.318-.805,1.209,1.209,0,0,0-.861-.3H144.74V55.415a1.158,1.158,0,0,0-.356-.9,1.291,1.291,0,0,0-.9-.356,1.185,1.185,0,0,0-.9.356,1.291,1.291,0,0,0-.356.9v3.614H141.07a1.209,1.209,0,0,0-.861.3,1.019,1.019,0,0,0-.318.805.989.989,0,0,0,.318.749,1.209,1.209,0,0,0,.861.3h1.161v6.2a5.252,5.252,0,0,0,.58,2.49,4.716,4.716,0,0,0,1.573,1.741,4.1,4.1,0,0,0,2.266.637h.449a1.566,1.566,0,0,0,1.067-.356,1.135,1.135,0,0,0,.412-.9,1.316,1.316,0,0,0-.318-.9,1.027,1.027,0,0,0-.768-.356Z" transform="translate(122.061 47.257)" fill="#f90"/>
                <path id="Path_281" data-name="Path 281" d="M156.289,57.348a7.212,7.212,0,0,0-7.041,0A6.832,6.832,0,0,0,145.84,63.4a7.45,7.45,0,0,0,.843,3.558,6.56,6.56,0,0,0,2.3,2.49,6.378,6.378,0,0,0,6.591,0,6.452,6.452,0,0,0,1.554-1.386v.955a1.274,1.274,0,1,0,2.547,0v-5.6a6.866,6.866,0,0,0-3.389-6.048Zm.356,8.464a4.546,4.546,0,0,1-1.573,1.685,4.262,4.262,0,0,1-2.285.618,4.2,4.2,0,0,1-2.266-.618,4.494,4.494,0,0,1-1.61-1.685,4.894,4.894,0,0,1-.6-2.4,4.967,4.967,0,0,1,.6-2.416,4.494,4.494,0,0,1,1.61-1.685,4.29,4.29,0,0,1,2.266-.618,4.356,4.356,0,0,1,2.285.618A4.263,4.263,0,0,1,156.645,61a4.9,4.9,0,0,1,.58,2.416A4.833,4.833,0,0,1,156.645,65.811Z" transform="translate(127.253 49.238)" fill="#f90"/>
                <path id="Path_282" data-name="Path 282" d="M165.2,57.159a6.52,6.52,0,0,0-3.108-.749,6.018,6.018,0,0,0-3,.73,5.041,5.041,0,0,0-1.273.955v-.281a1.222,1.222,0,0,0-1.292-1.292,1.2,1.2,0,0,0-.918.356,1.242,1.242,0,0,0-.356.936v11.2a1.219,1.219,0,0,0,1.273,1.273,1.27,1.27,0,0,0,.936-.356,1.227,1.227,0,0,0,.356-.918V61.934a2.813,2.813,0,0,1,.506-1.648,3.665,3.665,0,0,1,1.348-1.142,4.217,4.217,0,0,1,1.91-.431,4.676,4.676,0,0,1,2.041.431,3.4,3.4,0,0,1,1.423,1.348,4.562,4.562,0,0,1,.524,2.341v6.179a1.274,1.274,0,1,0,2.547,0V62.833a7.247,7.247,0,0,0-.786-3.52,5.346,5.346,0,0,0-2.153-2.172Z" transform="translate(135.472 49.221)" fill="#f90"/>
                <path id="Path_283" data-name="Path 283" d="M173.561,56.992a6.464,6.464,0,0,0-2.715-.562,6.838,6.838,0,0,0-3.52.9A6.516,6.516,0,0,0,164.91,59.8a7.376,7.376,0,0,0-.88,3.614,6.977,6.977,0,0,0,.9,3.558,6.8,6.8,0,0,0,2.453,2.49,6.874,6.874,0,0,0,3.577.918,6.33,6.33,0,0,0,4.513-1.685.905.905,0,0,0,.3-.786,1.214,1.214,0,0,0-.468-.786,1.009,1.009,0,0,0-.749-.243,1.527,1.527,0,0,0-.824.356,3.888,3.888,0,0,1-1.217.674,4.84,4.84,0,0,1-1.536.206,4.414,4.414,0,0,1-2.341-.618,4.339,4.339,0,0,1-1.573-1.667,5,5,0,0,1-.562-2.416,5.255,5.255,0,0,1,.562-2.49,4.081,4.081,0,0,1,1.535-1.648,4.307,4.307,0,0,1,2.266-.6,4.037,4.037,0,0,1,3.071,1.311,1.436,1.436,0,0,0,.786.431.99.99,0,0,0,.786-.169,1.4,1.4,0,0,0,.562-.749.848.848,0,0,0-.243-.824,6.817,6.817,0,0,0-2.21-1.7Z" transform="translate(143.124 49.238)" fill="#f90"/>
                <path id="Path_284" data-name="Path 284" d="M183.923,56.612a1.085,1.085,0,0,0-1.573.6L178.3,66.331,173.7,57.193a1.207,1.207,0,0,0-.655-.637,1.16,1.16,0,0,0-.9.037,1.25,1.25,0,0,0-.674.637,1,1,0,0,0,.056.918l5.636,10.711-2.509,5.655a1.065,1.065,0,0,0,.6,1.592,1.74,1.74,0,0,0,.6.15,1.015,1.015,0,0,0,.974-.786L184.5,58.185a1.055,1.055,0,0,0-.637-1.592Z" transform="translate(149.541 49.28)" fill="#f90"/>
                <path id="Path_285" data-name="Path 285" d="M95.912,119.6s4.288,0,8.239.019h7.584a2.788,2.788,0,0,0,2.191-2.715,2.821,2.821,0,0,0-.73-1.873L70.333,63.311l-.075-.037a2.749,2.749,0,0,0-2.135-1.011H53.349a2.8,2.8,0,0,0-2.715,2.79,2.741,2.741,0,0,0,.88,2.022S77.673,98.964,77.8,99.1a2.281,2.281,0,0,1,.337.543,2.486,2.486,0,0,1,.225.749,2.521,2.521,0,0,1,0,.992c-.037.094-.056.206-.094.3a2.569,2.569,0,0,1-.805,1.18c-.019,0-.037.037-.056.056a3,3,0,0,1-.712.431,46.253,46.253,0,0,1-5.524,2.022h0c-1.161.337-2.322.655-3.52.918H67.6c-.543.131-1.1.243-1.667.337a1.312,1.312,0,0,0-.262.056c-.487.094-.974.169-1.461.243l-.393.056c-.449.056-.9.131-1.348.169l-.487.056-1.292.112c-.187,0-.356.037-.543.037-.431.037-.861.056-1.311.075-.169,0-.337.019-.506.019-.6.019-1.2.037-1.816.037-.843,0-1.667-.019-2.49-.056a8.2,8.2,0,0,1-.955-.075l-1.5-.112c-.393-.037-.805-.094-1.2-.131-.393-.056-.786-.094-1.18-.15-.449-.056-.9-.15-1.348-.225-.318-.056-.655-.112-.974-.169-.487-.094-.974-.206-1.461-.3-.262-.056-.524-.112-.786-.187-.524-.131-1.067-.262-1.592-.412-.206-.056-.393-.112-.6-.169-.58-.169-1.142-.337-1.7-.524a2,2,0,0,1-.356-.131c-.618-.206-1.255-.431-1.873-.655a50.982,50.982,0,1,1,69.022-47.675A50.268,50.268,0,0,1,103.458,76.4v.019c-.019.056-.805,2.285-1.891,2.359-.768.037-1.067-.019-2.116-1.067l-.637-.637c-1.592-1.947-3.3-4.007-3.314-4.026a2.656,2.656,0,0,1-.562-1.648,2.576,2.576,0,0,1,.15-.843c0-.037,0-.094.019-.112a40.552,40.552,0,0,0,2.453-13.95A41.037,41.037,0,1,0,56.532,97.579c.824,0,2.472-.094,2.472-.094A2.749,2.749,0,0,0,58.761,92c-.075,0-1.554.056-2.21.056A35.527,35.527,0,1,1,89.283,70.239V70.3a2.813,2.813,0,0,0-.187.974,2.673,2.673,0,0,0,.637,1.723v.037l2.734,3.333h0l6.685,8.164h0l1.236,1.517h.019a2.742,2.742,0,0,0,2.135,1.067,2.707,2.707,0,0,0,2.3-1.292c.019-.019.037-.056.056-.075a56.523,56.523,0,1,0-69.809,23.07h0a55.821,55.821,0,0,0,7.677,2.528.14.14,0,0,1,.094.019c.843.206,1.685.412,2.547.58l.337.056c.786.15,1.554.3,2.359.412.243.037.487.056.712.094.674.094,1.348.187,2.041.262.431.037.861.075,1.292.094.506.037.992.094,1.5.112.955.056,1.891.075,2.865.075,0,0,2.434-.056,3.464-.131s3.352-.281,3.352-.281h.056a2.063,2.063,0,0,0,.337-.037c1.517-.187,3.015-.449,4.494-.768h0c.73-.15,1.461-.337,2.191-.506a.169.169,0,0,0,.094-.019,56.123,56.123,0,0,0,13.014-5.15h0c.393-.206.786-.431,1.161-.655h0a2.689,2.689,0,0,0,.749-3.989h0l-26.291-31.7c-.449-.655-.768-1.011-.73-1.685.056-.992,1.049-1.18,1.891-1.18h6.048a2.346,2.346,0,0,1,1.779.843l37,44.3a2.3,2.3,0,0,1,.6,1.554c0,.974-.918,1.4-1.779,1.4l-6.348-.037a2.3,2.3,0,0,1-1.8-.88l-1.929-2.341-2.172-2.9a2.333,2.333,0,0,0-4.063,1.573,2.246,2.246,0,0,0,.712,1.667l5.281,6.423a2.788,2.788,0,0,0,2.172,1.067Z" fill="url(#linear-gradient)"/>
            </svg>
        </div>
    </div>
</footer>
{% endblock %}
