@import "mixins.scss";


.hero-block-one {
    background: var(--bg);
    background-size:cover;
    position:relative;
    &:before {
        @include screen(768) {
            z-index: 1;
            content: "";
            top: 0;
            bottom: 0;
            right: 0;
            position: absolute;
            background: var(--bgtwo);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: right;
            width: 100%;
        }
    }
    h1 {
        color:white;
        font-weight:700;
    }
    p {
        font-size:16px;
        line-height:28px;
        @include screen(1280) {
            font-size:20px;
            line-height:32px;
        }
    }
    .flex {
        padding: 36px;
        @include screen(768) {
            max-width: 450px;
        }
        @include screen(1024) {
            padding: 5vh 0;
            max-width: 600px;
        }
        @include screen(1280) {
            padding: 5vh 0;
            max-width: 785px;
        }
    }
    .wrapper {
        @include screen(1280) {
            height: calc(100vh - 123px);
            display: flex;
            align-items: center;
        }
    }
    .container {
        position: relative;
        z-index: 2;
    }
}