.hero-block-one {
  background: var(--bg);
  background-size: cover;
  position: relative;
}
@media only screen and (min-width: 768px) {
  .hero-block-one:before {
    z-index: 1;
    content: "";
    top: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    background: var(--bgtwo);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    width: 100%;
  }
}
.hero-block-one h1 {
  color: white;
  font-weight: 700;
}
.hero-block-one p {
  font-size: 16px;
  line-height: 28px;
}
@media only screen and (min-width: 1280px) {
  .hero-block-one p {
    font-size: 20px;
    line-height: 32px;
  }
}
.hero-block-one .flex {
  padding: 36px;
}
@media only screen and (min-width: 768px) {
  .hero-block-one .flex {
    max-width: 450px;
  }
}
@media only screen and (min-width: 1024px) {
  .hero-block-one .flex {
    padding: 5vh 0;
    max-width: 600px;
  }
}
@media only screen and (min-width: 1280px) {
  .hero-block-one .flex {
    padding: 5vh 0;
    max-width: 785px;
  }
}
@media only screen and (min-width: 1280px) {
  .hero-block-one .wrapper {
    height: calc(100vh - 123px);
    display: flex;
    align-items: center;
  }
}
.hero-block-one .container {
  position: relative;
  z-index: 2;
}

/*# sourceMappingURL=style.css.map */
