@use "mixins" as *;


.theme-button {
    margin-top: 25px;
    @include screen(768) {
        margin-top: 35px;
    }
}

.btn {
    display: block;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all .3s ease-out;
    background: #f90;
    font-weight: 700;
    position: relative;
    min-width: 200px;
    border-radius: 55px;
    width: fit-content;
    line-height: 1;
    @include screen(768) {
        min-width: 356px;
    }
    span {
        transform: translate(0px, -5px);
        transition: all 0.3s ease-out;
        display: block;
        background: white;
        z-index: 2;
        border-radius: 55px;

        color: #150578;
        position: relative;
        padding: 15px 25px;
        font-size: 18px;
        @include screen(1280) {
            font-size: 22px !important;
            padding: 22px 40px;
        }
    }
    &:before {
//        content: "";
        position: absolute;
        top: 5px;
        bottom: -5px;
        left: 0;
        right: 0;
        background: #f90;
        border-radius: 55px;
        z-index: 1;
    }
    &:hover {
        span {
            transform: translate(3px,-7px);
        }
    }
}
