@use "mixins" as *;

@import "/home/web/www/html/wp-content/themes/medqo/node_modules/rfs/scss.scss";


/* comfortaa-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 300;
  src: url('/wp-content/themes/medqo/assets/fonts/comfortaa-v40-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* comfortaa-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  src: url('/wp-content/themes/medqo/assets/fonts/comfortaa-v40-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* comfortaa-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 600;
  src: url('/wp-content/themes/medqo/assets/fonts/comfortaa-v40-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* comfortaa-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 700;
  src: url('/wp-content/themes/medqo/assets/fonts/comfortaa-v40-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

html {
  font-size: 16px;
  font-family: 'Comfortaa', sans-serif;
  @include screen(1280) {
    font-size: 20px;
  }
}

p {
  margin: 0.7em 0;
  line-height: 1.2;
}

@include headings() {
  margin: 0.5em 0;
  line-height: 1.14;
  font-weight: 500;
  color:rgba(0, 47, 61, 1);
}

h {
  &1 {
    @include font-size(3rem);
  }
  &2 {
    @include font-size(2.5rem);
  }
  &3 {
    @include font-size(2rem);
  }
  &4 {
    @include font-size(1.5rem);
  }
  &5 {
    @include font-size(1.25rem);
  }
  &6 {
    @include font-size(1.15rem);
  }
}

strong {
  font-weight: 700;
}

.has-text-align-center {
  text-align: center;
}
