@import "mixins.scss";

.spacer {
    height:102px;
    background: #002F3D;
}
.theme-not-found {
    background: #002F3D;
    min-height: 80vh;
    display: flex;
    align-items: center;
    padding: 25px;
    @include screen(1024) {
        padding: 0px;
    }
    * {
        color:white;
    }
    .left {
        font-size: 125px;
        line-height: 0.8;
        font-weight: 500;
        text-align: right;
        @include screen(500) {
            font-size: 150px;
        }
        @include screen(1024) {
            font-size: 125px;
        }
        @include screen(1280) {
            font-size: 200px;
            flex: 0 0 500px;
        }
    }
    .right {
        border-top: 2px solid white;
        padding: 25px 0;
        margin: 20px 0;
        text-align: right;
        @include screen(1024) {
            padding:25px;
            text-align: unset;
            margin:0;
            margin-left: 25px;
            border-top:none;
            border-left: 2px solid white;
        }
    }
    .top {
        font-size: 34px;
        line-height: 1;
    }
    .mid {
        font-size: 24px;
        line-height: 1;
        margin: 10px 0;
        @include screen(1024) {
            width: 375px;
        }
    }
    .bot {
        font-size: 22px;
        line-height: 1;
        a {
            text-decoration: none;
        }
    }
    .wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        @include screen(1024) {
            flex-direction: row;
        }
    }
    .container {
        max-width: 100%;
        @include screen(1024) {
            flex-direction: row;
        }
    }
}