{% extends "block-base.twig" %}

{% block content %}
<header class="header {{blockClasses(block)}}" {{blockSection(block)}}>
<div class="container">
    <div class="inner">
        <a href="/">
            <svg id="QmedCo_Logo_header" data-name="QmedCo Logo header" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="208.256" height="70.36" viewBox="0 0 208.256 70.36">
                <defs>
                    <linearGradient id="linear-gradient" x1="0.003" y1="-0.01" x2="1.134" y2="1.097" gradientUnits="objectBoundingBox">
                    <stop offset="0.25" stop-color="#f90"/>
                    <stop offset="1" stop-color="#150578"/>
                    </linearGradient>
                </defs>
                <path id="Path_267" data-name="Path 267" d="M96.883,16.34a2.025,2.025,0,0,0-1.847,1.123L83.418,41.36,71.5,17.463a2.036,2.036,0,0,0-1.847-1.123,2.085,2.085,0,0,0-1.49.588,2.016,2.016,0,0,0-.6,1.511v27.2a2.051,2.051,0,0,0,.6,1.49,2.155,2.155,0,0,0,2.981,0,1.994,1.994,0,0,0,.6-1.49v-19.6l9.6,19.248a2.019,2.019,0,0,0,1.931,1.249,2.063,2.063,0,0,0,1.805-1.05L94.805,25.66V45.642a2.051,2.051,0,0,0,.6,1.49,1.978,1.978,0,0,0,1.49.6,2,2,0,0,0,1.469-.6,1.973,1.973,0,0,0,.619-1.49v-27.2a2.016,2.016,0,0,0-.6-1.511,2.067,2.067,0,0,0-1.49-.588Z" transform="translate(3.345 0.809)" fill="#150578"/>
                <path id="Path_268" data-name="Path 268" d="M116.976,26.535a10.073,10.073,0,0,0-5.384-1.385,11.017,11.017,0,0,0-5.625,1.427,10.179,10.179,0,0,0-3.841,3.936,11.837,11.837,0,0,0-1.385,5.8,11.149,11.149,0,0,0,1.469,5.762,10.319,10.319,0,0,0,4.062,3.936,12.062,12.062,0,0,0,5.93,1.427,12.32,12.32,0,0,0,3.883-.682,11.053,11.053,0,0,0,3.4-1.774,1.424,1.424,0,0,0,.64-1.249,1.924,1.924,0,0,0-.724-1.322,1.769,1.769,0,0,0-1.228-.42,2.234,2.234,0,0,0-1.3.462,7.891,7.891,0,0,1-2.11,1.06,7.717,7.717,0,0,1-2.55.462,8.069,8.069,0,0,1-4.062-1.008,7.435,7.435,0,0,1-2.771-2.729,7.2,7.2,0,0,1-.892-2.529h15.281a1.822,1.822,0,0,0,1.322-.5,1.693,1.693,0,0,0,.525-1.27,12.651,12.651,0,0,0-1.186-5.6A9.032,9.032,0,0,0,117,26.514Zm-9.3,3.075a7.29,7.29,0,0,1,3.915-1.008,6.025,6.025,0,0,1,3.411.924,6.239,6.239,0,0,1,2.173,2.508,8.171,8.171,0,0,1,.714,2.477H104.518a8.585,8.585,0,0,1,.682-2.152,6.475,6.475,0,0,1,2.477-2.75Z" transform="translate(4.988 1.245)" fill="#150578"/>
                <path id="Path_269" data-name="Path 269" d="M143.848,16.34a2.027,2.027,0,0,0-1.469.567,1.976,1.976,0,0,0-.577,1.49V29.249a9.963,9.963,0,0,0-3.379-2.676,10.19,10.19,0,0,0-9.645.483,10.4,10.4,0,0,0-3.673,3.978,11.8,11.8,0,0,0-1.343,5.688,11.2,11.2,0,0,0,1.469,5.709,10.85,10.85,0,0,0,3.978,4,11.023,11.023,0,0,0,5.646,1.469,10.816,10.816,0,0,0,9.582-5.468,11.2,11.2,0,0,0,1.469-5.709V18.4a1.946,1.946,0,0,0-2.057-2.057Zm-2.813,24.233a6.919,6.919,0,0,1-2.529,2.708,7.235,7.235,0,0,1-7.294,0,7.169,7.169,0,0,1-2.571-2.708,8.368,8.368,0,0,1,0-7.724,7.235,7.235,0,0,1,2.571-2.676,7.234,7.234,0,0,1,7.294,0,7.05,7.05,0,0,1,2.529,2.676,7.873,7.873,0,0,1,.924,3.862A7.959,7.959,0,0,1,141.035,40.573Z" transform="translate(6.128 0.809)" fill="#150578"/>
                <path id="Path_270" data-name="Path 270" d="M158.128,23.35a12.051,12.051,0,0,1,3.673-2.655,10.554,10.554,0,0,1,4.46-.966,10.851,10.851,0,0,1,4.2.682,11.813,11.813,0,0,1,3.075,1.973,2.078,2.078,0,0,0,2.792-.063,1.673,1.673,0,0,0,.546-1.27,2.616,2.616,0,0,0-.063-.619,1.469,1.469,0,0,0-.241-.525,1.909,1.909,0,0,0-.5-.5,15.385,15.385,0,0,0-4.481-2.655,15.764,15.764,0,0,0-5.321-.808,14.961,14.961,0,0,0-6.108,1.249,15.4,15.4,0,0,0-4.922,3.432,15.863,15.863,0,0,0-3.3,5.1,16.589,16.589,0,0,0-1.186,6.287,16.953,16.953,0,0,0,1.186,6.35,15.843,15.843,0,0,0,3.3,5.122,15.187,15.187,0,0,0,11.03,4.639,15.363,15.363,0,0,0,5.206-.882,16.079,16.079,0,0,0,4.639-2.613,2.219,2.219,0,0,0,.483-.7,2.027,2.027,0,0,0,.157-.787,1.9,1.9,0,0,0-.483-1.385,1.815,1.815,0,0,0-1.186-.567,2.109,2.109,0,0,0-1.427.462,15.128,15.128,0,0,1-3.516,1.952,11.036,11.036,0,0,1-8.344-.241,11.414,11.414,0,0,1-3.673-2.634,12.209,12.209,0,0,1-2.466-3.915A12.957,12.957,0,0,1,154.77,32a12.737,12.737,0,0,1,.882-4.765,12.275,12.275,0,0,1,2.466-3.915Z" transform="translate(7.465 0.789)" fill="#150578"/>
                <path id="Path_271" data-name="Path 271" d="M198.047,30.513a10.294,10.294,0,0,0-3.915-3.936,11.248,11.248,0,0,0-5.709-1.427,11.433,11.433,0,0,0-5.751,1.427,10.366,10.366,0,0,0-3.915,3.936,11.522,11.522,0,0,0-1.427,5.8,11.336,11.336,0,0,0,1.427,5.762,10.294,10.294,0,0,0,3.915,3.936,12.3,12.3,0,0,0,11.5,0,10.239,10.239,0,0,0,3.894-3.936,11.655,11.655,0,0,0,1.406-5.762A11.577,11.577,0,0,0,198.047,30.513Zm-3.411,9.708a6.787,6.787,0,0,1-2.508,2.655,7.55,7.55,0,0,1-7.389,0,6.842,6.842,0,0,1-2.529-2.655,7.94,7.94,0,0,1-.924-3.894,8.051,8.051,0,0,1,.924-3.915,6.976,6.976,0,0,1,2.529-2.676,7.55,7.55,0,0,1,7.389,0,6.637,6.637,0,0,1,2.508,2.676,8.314,8.314,0,0,1,.9,3.915A8.169,8.169,0,0,1,194.637,40.221Z" transform="translate(8.781 1.245)" fill="#150578"/>
                <path id="Path_272" data-name="Path 272" d="M70.132,55.8a4.072,4.072,0,0,1,1.291-.934,3.736,3.736,0,0,1,1.564-.336,3.794,3.794,0,0,1,1.469.241,4.089,4.089,0,0,1,1.081.693.735.735,0,0,0,.987-.021A.572.572,0,0,0,76.712,55a.715.715,0,0,0-.021-.22.557.557,0,0,0-.084-.178.953.953,0,0,0-.178-.178,5.406,5.406,0,0,0-1.574-.934,5.509,5.509,0,0,0-1.868-.283,5.211,5.211,0,0,0-2.141.441,5.372,5.372,0,0,0-1.721,1.207,5.5,5.5,0,0,0-1.154,1.784,5.885,5.885,0,0,0-.42,2.2,5.791,5.791,0,0,0,.42,2.225,5.547,5.547,0,0,0,1.154,1.795,5.227,5.227,0,0,0,1.732,1.2,5.367,5.367,0,0,0,2.131.43,5.3,5.3,0,0,0,1.826-.315,5.817,5.817,0,0,0,1.627-.913.719.719,0,0,0,.168-.241.6.6,0,0,0,.052-.273.645.645,0,0,0-.168-.483.688.688,0,0,0-.42-.2.793.793,0,0,0-.5.157,5.488,5.488,0,0,1-1.228.682,3.683,3.683,0,0,1-1.354.241,3.613,3.613,0,0,1-1.564-.336,4.112,4.112,0,0,1-1.291-.924,4.232,4.232,0,0,1-.861-1.375,4.682,4.682,0,0,1-.315-1.679,4.479,4.479,0,0,1,1.175-3.044Z" transform="translate(3.345 2.635)" fill="#f90"/>
                <path id="Path_273" data-name="Path 273" d="M85.545,54.694a.774.774,0,0,0,.525-.178.656.656,0,0,0,.2-.483.664.664,0,0,0-.2-.5.732.732,0,0,0-.525-.189h-6.36a.776.776,0,0,0-.525.2.72.72,0,0,0-.21.525v9.53a.738.738,0,0,0,.21.525.72.72,0,0,0,.525.21h6.36a.732.732,0,0,0,.525-.189.688.688,0,0,0,.2-.5.6.6,0,0,0-.2-.483.726.726,0,0,0-.525-.178H79.919V59.459H83.96a.732.732,0,0,0,.525-.189.684.684,0,0,0,0-.966.732.732,0,0,0-.525-.189H79.919V54.694h5.625Z" transform="translate(3.885 2.641)" fill="#f90"/>
                <path id="Path_274" data-name="Path 274" d="M94.532,55.8a4.072,4.072,0,0,1,1.291-.934,3.736,3.736,0,0,1,1.564-.336,3.794,3.794,0,0,1,1.469.241,4.264,4.264,0,0,1,1.081.693.735.735,0,0,0,.987-.021.572.572,0,0,0,.189-.441.715.715,0,0,0-.021-.22.557.557,0,0,0-.084-.178.953.953,0,0,0-.178-.178,5.406,5.406,0,0,0-1.574-.934,5.509,5.509,0,0,0-1.868-.283,5.212,5.212,0,0,0-2.141.441,5.372,5.372,0,0,0-1.721,1.207,5.5,5.5,0,0,0-1.154,1.784,5.885,5.885,0,0,0-.42,2.2,5.791,5.791,0,0,0,.42,2.225,5.547,5.547,0,0,0,1.154,1.795,5.227,5.227,0,0,0,1.732,1.2,5.367,5.367,0,0,0,2.131.43,5.3,5.3,0,0,0,1.826-.315,5.817,5.817,0,0,0,1.627-.913.719.719,0,0,0,.168-.241.6.6,0,0,0,.052-.273.645.645,0,0,0-.168-.483.688.688,0,0,0-.42-.2.735.735,0,0,0-.5.157,5.488,5.488,0,0,1-1.228.682,3.683,3.683,0,0,1-1.354.241,3.613,3.613,0,0,1-1.564-.336,4.112,4.112,0,0,1-1.291-.924,4.232,4.232,0,0,1-.861-1.375,4.682,4.682,0,0,1-.315-1.679,4.479,4.479,0,0,1,1.175-3.044Z" transform="translate(4.553 2.635)" fill="#f90"/>
                <path id="Path_275" data-name="Path 275" d="M107.7,56.934a3.91,3.91,0,0,0-1.994-.5,4.017,4.017,0,0,0-2.015.5,3.755,3.755,0,0,0-1.375,1.375,4.013,4.013,0,0,0-.5,2.036,3.907,3.907,0,0,0,.5,2.015,3.534,3.534,0,0,0,1.375,1.375,4.282,4.282,0,0,0,4.03,0,3.651,3.651,0,0,0,1.364-1.375,4.364,4.364,0,0,0-.01-4.051A3.534,3.534,0,0,0,107.7,56.934Zm.178,4.775a2.361,2.361,0,0,1-.882.934,2.517,2.517,0,0,1-1.291.336,2.49,2.49,0,0,1-1.291-.336,2.39,2.39,0,0,1-.892-.934,2.762,2.762,0,0,1-.325-1.364,2.8,2.8,0,0,1,.325-1.375,2.39,2.39,0,0,1,.892-.934A2.517,2.517,0,0,1,105.7,57.7a2.49,2.49,0,0,1,1.291.336,2.294,2.294,0,0,1,.882.934,2.918,2.918,0,0,1,.315,1.375A2.846,2.846,0,0,1,107.876,61.709Z" transform="translate(5.041 2.794)" fill="#f90"/>
                <path id="Path_276" data-name="Path 276" d="M116.8,56.83a3.654,3.654,0,0,0-1.742-.42,3.373,3.373,0,0,0-1.679.409,2.825,2.825,0,0,0-.714.535V57.2a.685.685,0,0,0-.724-.724.672.672,0,0,0-.514.2.7.7,0,0,0-.2.525v6.276a.683.683,0,0,0,.714.714.712.712,0,0,0,.525-.2.688.688,0,0,0,.2-.514V59.506a1.577,1.577,0,0,1,.283-.924,2.054,2.054,0,0,1,.756-.64,2.363,2.363,0,0,1,1.071-.241,2.621,2.621,0,0,1,1.144.241,1.906,1.906,0,0,1,.8.756,2.557,2.557,0,0,1,.294,1.312v3.463a.714.714,0,1,0,1.427,0V60.01A4.062,4.062,0,0,0,118,58.037a3,3,0,0,0-1.207-1.217Z" transform="translate(5.508 2.793)" fill="#f90"/>
                <path id="Path_277" data-name="Path 277" d="M125.084,60.188a5.993,5.993,0,0,0-1.669-.535,7.367,7.367,0,0,1-1.154-.315,1.069,1.069,0,0,1-.525-.367.8.8,0,0,1-.136-.462.667.667,0,0,1,.43-.619,2.428,2.428,0,0,1,1.049-.21,3.217,3.217,0,0,1,.945.126,1.914,1.914,0,0,1,.756.462.916.916,0,0,0,.525.252.7.7,0,0,0,.535-.094.568.568,0,0,0,.241-.42.7.7,0,0,0-.178-.472,2.84,2.84,0,0,0-1.144-.819,4.273,4.273,0,0,0-1.648-.294,4.024,4.024,0,0,0-1.375.231,2.584,2.584,0,0,0-1.081.7,1.709,1.709,0,0,0-.42,1.186,1.735,1.735,0,0,0,.64,1.375,4.336,4.336,0,0,0,2.057.84,3.993,3.993,0,0,1,1.511.5.87.87,0,0,1,.4.735.814.814,0,0,1-.441.693,2.38,2.38,0,0,1-1.249.262,2.866,2.866,0,0,1-1.175-.231,2.194,2.194,0,0,1-.766-.5.836.836,0,0,0-.472-.252.764.764,0,0,0-.556.189.691.691,0,0,0-.273.472.605.605,0,0,0,.178.514,3.448,3.448,0,0,0,1.3.766,5.376,5.376,0,0,0,1.826.3,3.946,3.946,0,0,0,1.669-.315,2.451,2.451,0,0,0,1.018-.829,2.053,2.053,0,0,0,.346-1.165,1.869,1.869,0,0,0-.273-1,2.205,2.205,0,0,0-.882-.756Z" transform="translate(5.937 2.794)" fill="#f90"/>
                <path id="Path_278" data-name="Path 278" d="M134.017,56.47a.688.688,0,0,0-.514.2.7.7,0,0,0-.2.525v3.967a1.568,1.568,0,0,1-.283.913,2.079,2.079,0,0,1-.756.651,2.376,2.376,0,0,1-1.081.241,2.609,2.609,0,0,1-1.144-.252,1.847,1.847,0,0,1-.8-.756,2.653,2.653,0,0,1-.294-1.3V57.194a.731.731,0,0,0-.2-.514.672.672,0,0,0-.514-.2.731.731,0,0,0-.514.2.688.688,0,0,0-.2.514v3.463a4.062,4.062,0,0,0,.441,1.973,3,3,0,0,0,1.207,1.217,3.654,3.654,0,0,0,1.742.42,3.345,3.345,0,0,0,1.679-.409,3.025,3.025,0,0,0,.714-.535v.157a.683.683,0,0,0,.714.714.712.712,0,0,0,.525-.2.688.688,0,0,0,.2-.514V57.2a.7.7,0,0,0-.2-.525.738.738,0,0,0-.525-.2Z" transform="translate(6.314 2.796)" fill="#f90"/>
                <path id="Path_279" data-name="Path 279" d="M139.006,62.932h-.357a.573.573,0,0,1-.5-.336,1.633,1.633,0,0,1-.2-.861V54.053a.649.649,0,0,0-.2-.5.68.68,0,0,0-.5-.2.664.664,0,0,0-.5.2.724.724,0,0,0-.2.5v7.682a3.2,3.2,0,0,0,.262,1.343,2.327,2.327,0,0,0,.745.924,1.877,1.877,0,0,0,1.1.336h.031a1.107,1.107,0,0,0,.693-.2.62.62,0,0,0,.273-.5.738.738,0,0,0-.178-.5.609.609,0,0,0-.462-.2Z" transform="translate(6.761 2.642)" fill="#f90"/>
                <path id="Path_280" data-name="Path 280" d="M144.162,62.892h-.483a.925.925,0,0,1-.756-.378,1.483,1.483,0,0,1-.315-.945V58.1h1.2a.678.678,0,0,0,.483-.168.534.534,0,0,0,.178-.42.609.609,0,0,0-.178-.451.678.678,0,0,0-.483-.168h-1.2V54.863a.649.649,0,0,0-.2-.5.724.724,0,0,0-.5-.2.664.664,0,0,0-.5.2.724.724,0,0,0-.2.5v2.026h-.651a.678.678,0,0,0-.483.168.571.571,0,0,0-.178.451.554.554,0,0,0,.178.42.678.678,0,0,0,.483.168h.651V61.57a2.943,2.943,0,0,0,.325,1.4,2.643,2.643,0,0,0,.882.976,2.3,2.3,0,0,0,1.27.357h.252a.878.878,0,0,0,.6-.2.636.636,0,0,0,.231-.5.738.738,0,0,0-.178-.5.575.575,0,0,0-.43-.2Z" transform="translate(6.927 2.682)" fill="#f90"/>
                <path id="Path_281" data-name="Path 281" d="M151.7,56.944a4.042,4.042,0,0,0-3.946,0,3.829,3.829,0,0,0-1.91,3.39,4.175,4.175,0,0,0,.472,1.994,3.676,3.676,0,0,0,1.291,1.4,3.574,3.574,0,0,0,3.694,0,3.616,3.616,0,0,0,.871-.777v.535a.714.714,0,1,0,1.427,0V60.345a3.848,3.848,0,0,0-1.9-3.39Zm.2,4.744a2.548,2.548,0,0,1-.882.945,2.389,2.389,0,0,1-1.28.346,2.353,2.353,0,0,1-1.27-.346,2.519,2.519,0,0,1-.9-.945,2.743,2.743,0,0,1-.336-1.343,2.784,2.784,0,0,1,.336-1.354,2.519,2.519,0,0,1,.9-.945,2.4,2.4,0,0,1,1.27-.346,2.441,2.441,0,0,1,1.28.346,2.389,2.389,0,0,1,.882.945,2.749,2.749,0,0,1,.325,1.354A2.709,2.709,0,0,1,151.9,61.688Z" transform="translate(7.221 2.794)" fill="#f90"/>
                <path id="Path_282" data-name="Path 282" d="M160.833,56.83a3.654,3.654,0,0,0-1.742-.42,3.373,3.373,0,0,0-1.679.409,2.825,2.825,0,0,0-.714.535V57.2a.685.685,0,0,0-.724-.724.672.672,0,0,0-.514.2.7.7,0,0,0-.2.525v6.276a.683.683,0,0,0,.714.714.712.712,0,0,0,.525-.2.688.688,0,0,0,.2-.514V59.506a1.577,1.577,0,0,1,.283-.924,2.054,2.054,0,0,1,.756-.64,2.363,2.363,0,0,1,1.071-.241,2.621,2.621,0,0,1,1.144.241,1.905,1.905,0,0,1,.8.756,2.557,2.557,0,0,1,.294,1.312v3.463a.714.714,0,1,0,1.427,0V60.01a4.062,4.062,0,0,0-.441-1.973,3,3,0,0,0-1.207-1.217Z" transform="translate(7.688 2.793)" fill="#f90"/>
                <path id="Path_283" data-name="Path 283" d="M169.372,56.745a3.623,3.623,0,0,0-1.522-.315,3.833,3.833,0,0,0-1.973.5,3.652,3.652,0,0,0-1.354,1.385,4.134,4.134,0,0,0-.493,2.026,3.91,3.91,0,0,0,.5,1.994,3.812,3.812,0,0,0,1.375,1.4,3.853,3.853,0,0,0,2,.514,3.548,3.548,0,0,0,2.529-.945.507.507,0,0,0,.168-.441.68.68,0,0,0-.262-.441.566.566,0,0,0-.42-.136.856.856,0,0,0-.462.2,2.179,2.179,0,0,1-.682.378,2.713,2.713,0,0,1-.861.115,2.474,2.474,0,0,1-1.312-.346,2.432,2.432,0,0,1-.882-.934,2.8,2.8,0,0,1-.315-1.354,2.945,2.945,0,0,1,.315-1.4,2.287,2.287,0,0,1,.861-.924,2.414,2.414,0,0,1,1.27-.336,2.262,2.262,0,0,1,1.721.735.8.8,0,0,0,.441.241.555.555,0,0,0,.441-.094.786.786,0,0,0,.315-.42.475.475,0,0,0-.136-.462,3.82,3.82,0,0,0-1.238-.955Z" transform="translate(8.122 2.794)" fill="#f90"/>
                <path id="Path_284" data-name="Path 284" d="M178.412,56.554a.608.608,0,0,0-.882.336L175.263,62l-2.582-5.122a.677.677,0,0,0-.367-.357.65.65,0,0,0-.5.021.7.7,0,0,0-.378.357.562.562,0,0,0,.031.514l3.159,6-1.406,3.17a.6.6,0,0,0,.336.892.975.975,0,0,0,.336.084.569.569,0,0,0,.546-.441l4.3-9.687a.592.592,0,0,0-.357-.892Z" transform="translate(8.486 2.797)" fill="#f90"/>
                <path id="Path_285" data-name="Path 285" d="M53.756,67.033s2.4,0,4.618.01h4.251a1.563,1.563,0,0,0,1.228-1.522,1.581,1.581,0,0,0-.409-1.05L39.42,35.484l-.042-.021a1.541,1.541,0,0,0-1.2-.567H29.9a1.566,1.566,0,0,0-1.522,1.564,1.536,1.536,0,0,0,.493,1.133S43.534,55.467,43.607,55.54a1.278,1.278,0,0,1,.189.3,1.393,1.393,0,0,1,.126.42,1.413,1.413,0,0,1,0,.556c-.021.052-.031.115-.052.168a1.44,1.44,0,0,1-.451.661c-.01,0-.021.021-.031.031a1.683,1.683,0,0,1-.4.241,25.924,25.924,0,0,1-3.1,1.133h0c-.651.189-1.3.367-1.973.514h-.031c-.3.073-.619.136-.934.189a.735.735,0,0,0-.147.031c-.273.052-.546.094-.819.136l-.22.031c-.252.031-.5.073-.756.094l-.273.031-.724.063c-.1,0-.2.021-.3.021-.241.021-.483.031-.735.042-.094,0-.189.01-.283.01-.336.01-.672.021-1.018.021-.472,0-.934-.01-1.4-.031a4.6,4.6,0,0,1-.535-.042l-.84-.063c-.22-.021-.451-.052-.672-.073s-.441-.052-.661-.084c-.252-.031-.5-.084-.756-.126l-.546-.094c-.273-.052-.546-.115-.819-.168-.147-.031-.294-.063-.441-.1-.294-.073-.6-.147-.892-.231l-.336-.094c-.325-.094-.64-.189-.955-.294a1.12,1.12,0,0,1-.2-.073c-.346-.115-.7-.241-1.05-.367A28.574,28.574,0,1,1,60.263,31.674,28.174,28.174,0,0,1,57.986,42.82v.01c-.01.031-.451,1.28-1.06,1.322-.43.021-.6-.01-1.186-.6l-.357-.357c-.892-1.091-1.847-2.246-1.858-2.256a1.488,1.488,0,0,1-.315-.924,1.444,1.444,0,0,1,.084-.472c0-.021,0-.052.01-.063a22.728,22.728,0,0,0,1.375-7.819A23,23,0,1,0,31.685,54.69c.462,0,1.385-.052,1.385-.052a1.54,1.54,0,0,0-.136-3.075c-.042,0-.871.031-1.238.031A19.912,19.912,0,1,1,50.041,39.367V39.4a1.577,1.577,0,0,0-.1.546,1.5,1.5,0,0,0,.357.966v.021L51.825,42.8h0l3.747,4.576h0l.693.85h.01a1.537,1.537,0,0,0,1.2.6,1.517,1.517,0,0,0,1.291-.724c.01-.01.021-.031.031-.042a31.68,31.68,0,1,0-39.126,12.93h0a31.285,31.285,0,0,0,4.3,1.417.079.079,0,0,1,.052.01c.472.115.945.231,1.427.325l.189.031c.441.084.871.168,1.322.231.136.021.273.031.4.052.378.052.756.1,1.144.147.241.021.483.042.724.052.283.021.556.052.84.063.535.031,1.06.042,1.606.042,0,0,1.364-.031,1.942-.073s1.879-.157,1.879-.157h.031a1.156,1.156,0,0,0,.189-.021c.85-.1,1.69-.252,2.519-.43h0c.409-.084.819-.189,1.228-.283a.1.1,0,0,0,.052-.01A31.455,31.455,0,0,0,46.808,59.5h0c.22-.115.441-.241.651-.367h0a1.507,1.507,0,0,0,.42-2.235h0L33.144,39.126c-.252-.367-.43-.567-.409-.945.031-.556.588-.661,1.06-.661h3.39a1.315,1.315,0,0,1,1,.472L58.92,62.824a1.287,1.287,0,0,1,.336.871c0,.546-.514.787-1,.787L54.7,64.461a1.289,1.289,0,0,1-1.008-.493l-1.081-1.312-1.217-1.627a1.308,1.308,0,0,0-2.277.882,1.259,1.259,0,0,0,.4.934l2.96,3.6a1.563,1.563,0,0,0,1.217.6Z" fill="url(#linear-gradient)"/>
            </svg>
        </a>
    </div>
</div>
</header>
<div class="orange-bar"></div>


{% endblock %}
