{% extends "block-base.twig" %}

{% block content %}
<header class="header {{blockClasses(block)}}" {{blockSection(block)}}>
<div class="header-inner">
    <div class="outer-logo hide-mobile">
        <a href="/">
            <svg id="Thrive_header_logo" data-name="Thrive header logo" xmlns="http://www.w3.org/2000/svg" width="105" height="36.75" viewBox="0 0 105 36.75">
                <g id="Logo_-_Text" data-name="Logo - Text" transform="translate(0)">
                    <path id="Fill_56" data-name="Fill 56" d="M11.586,22.75a12.857,12.857,0,0,1-2.291-.2,11.386,11.386,0,0,1-2.125-.6,11.264,11.264,0,0,1-1.959-1,12.476,12.476,0,0,1-1.793-1.4,11.191,11.191,0,0,1-1.5-1.714A10.234,10.234,0,0,1,.855,15.9a10.745,10.745,0,0,1-.641-2.151A12.8,12.8,0,0,1,0,11.375a13.558,13.558,0,0,1,.191-2.3A11.564,11.564,0,0,1,.764,6.957,10.933,10.933,0,0,1,1.72,5.03,11.6,11.6,0,0,1,3.058,3.291a10.9,10.9,0,0,1,1.624-1.44A9.7,9.7,0,0,1,6.5.823,9.88,9.88,0,0,1,8.5.206,11.478,11.478,0,0,1,10.7,0a12.98,12.98,0,0,1,2.25.188,10.188,10.188,0,0,1,2,.564,8.951,8.951,0,0,1,1.758.939,9.094,9.094,0,0,1,1.511,1.315,9.325,9.325,0,0,1,1.214,1.651A10.458,10.458,0,0,1,20.306,6.6a13.144,13.144,0,0,1,.52,2.239A17.7,17.7,0,0,1,21,11.375v.651H2.414l.08.731A8.715,8.715,0,0,0,5.632,18.2a9.144,9.144,0,0,0,5.954,2.113,8.721,8.721,0,0,0,6.759-2.844l1.69,1.706a13.119,13.119,0,0,1-1.856,1.565,11.38,11.38,0,0,1-2.027,1.117,11.139,11.139,0,0,1-2.2.67A12.366,12.366,0,0,1,11.586,22.75ZM10.818,2.844A7.589,7.589,0,0,0,5.777,4.621,8.665,8.665,0,0,0,2.959,9.226L2.8,9.953H18.2l-.079-.566a6.663,6.663,0,0,0-2.262-4.605A7.211,7.211,0,0,0,10.818,2.844Z" transform="translate(84 14)" fill="#002f3d"/>
                    <path id="Fill_57" data-name="Fill 57" d="M20.047,0,11.3,20.355,2.632,0H0V0H0V.346H0v22.4H2.386V5.851L9.71,22.75h3.26L22.75,0Z" transform="translate(62.125 14)" fill="#002f3d"/>
                    <path id="Fill_58" data-name="Fill 58" d="M26.952,18.089l-1.029.978V15.074H23.55V34.537H21.957c0-3.175,0-8.651,0-8.7a11.236,11.236,0,0,0-3.164-7.918,10.33,10.33,0,0,0-7.754-3.3,10.4,10.4,0,0,0-7.794,3.341,12.323,12.323,0,0,0-.854.993l0-4.409V0H.017V18.006L0,24.473H2.625a8.058,8.058,0,0,1,2.319-4.758,8.131,8.131,0,0,1,6.093-2.648,8.007,8.007,0,0,1,6.053,2.648,8.878,8.878,0,0,1,2.491,6.126c0,.045,0,5.52,0,8.7l0,2.212h6.344V25.1a9.066,9.066,0,0,1,2.651-5.5,7.509,7.509,0,0,1,5.5-2.241,7.267,7.267,0,0,1,4.035,1.3l1.266-2.118a8.7,8.7,0,0,0-5.3-1.63A10,10,0,0,0,26.952,18.089Z" transform="translate(20.125)" fill="#002f3d"/>
                    <path id="Fill_59" data-name="Fill 59" d="M20.125,17.511c-.224,2-.926,2.97-2.391,4.478a8.443,8.443,0,0,1-6.3,2.671A8.575,8.575,0,0,1,5.1,21.989,8.752,8.752,0,0,1,2.469,15.62c0-.027,0-4.4,0-8.507H14.294V4.648H2.469c0-2.593,0-4.63,0-4.648H0C0,.058,0,15.562,0,15.62a11.147,11.147,0,0,0,3.333,8.136,10.972,10.972,0,0,0,8.106,3.369A10.908,10.908,0,0,0,19.5,23.8a9.079,9.079,0,0,0,3.052-6.336Z" transform="translate(0 9.625)" fill="#d3791d"/>
                    <path id="Fill_60" data-name="Fill 60" d="M.677,3.738A2,2,0,0,1,0,2.227,2.136,2.136,0,0,1,.677.676,2.134,2.134,0,0,1,2.227,0,2.012,2.012,0,0,1,3.739.676a2.2,2.2,0,0,1,.636,1.551,2.061,2.061,0,0,1-.636,1.511,2.061,2.061,0,0,1-1.511.637A2.189,2.189,0,0,1,.677,3.738" transform="translate(61.25 7)" fill="#002f3d"/>
                </g>
            </svg>
        </a>
    </div>
    <div class="outer">
        <div class="top hide-mobile">
            <div class="container">
                <div class="inner">
                    <list class="menu-list">
                        <item class="menu-item tel">
                            <a class="menu-link" href="tel:00353719662552"><span>+353 71 966 2552</span></a>
                        </item>
                        <item class="menu-item demo">
                            <a class="menu-link" href="#"><span>Request a Demo</span></a>
                        </item>
                    </list>
                </div>
            </div>
        </div>
        <div class="bot">
            <div class="container">
                <div class="logo-wrapper">
                    <div class="login hide-desktop">
                        <div class="menu-item contact">
                            <a class="menu-link login" href="/login"><span></span></a>
                        </div>
                    </div>
                    <div class="logo hide-desktop">
                        <a href="/">
                            <svg id="Thrive_header_logo" data-name="Thrive header logo" xmlns="http://www.w3.org/2000/svg" width="105" height="36.75" viewBox="0 0 105 36.75">
                                <g id="Logo_-_Text" data-name="Logo - Text" transform="translate(0)">
                                    <path id="Fill_56" data-name="Fill 56" d="M11.586,22.75a12.857,12.857,0,0,1-2.291-.2,11.386,11.386,0,0,1-2.125-.6,11.264,11.264,0,0,1-1.959-1,12.476,12.476,0,0,1-1.793-1.4,11.191,11.191,0,0,1-1.5-1.714A10.234,10.234,0,0,1,.855,15.9a10.745,10.745,0,0,1-.641-2.151A12.8,12.8,0,0,1,0,11.375a13.558,13.558,0,0,1,.191-2.3A11.564,11.564,0,0,1,.764,6.957,10.933,10.933,0,0,1,1.72,5.03,11.6,11.6,0,0,1,3.058,3.291a10.9,10.9,0,0,1,1.624-1.44A9.7,9.7,0,0,1,6.5.823,9.88,9.88,0,0,1,8.5.206,11.478,11.478,0,0,1,10.7,0a12.98,12.98,0,0,1,2.25.188,10.188,10.188,0,0,1,2,.564,8.951,8.951,0,0,1,1.758.939,9.094,9.094,0,0,1,1.511,1.315,9.325,9.325,0,0,1,1.214,1.651A10.458,10.458,0,0,1,20.306,6.6a13.144,13.144,0,0,1,.52,2.239A17.7,17.7,0,0,1,21,11.375v.651H2.414l.08.731A8.715,8.715,0,0,0,5.632,18.2a9.144,9.144,0,0,0,5.954,2.113,8.721,8.721,0,0,0,6.759-2.844l1.69,1.706a13.119,13.119,0,0,1-1.856,1.565,11.38,11.38,0,0,1-2.027,1.117,11.139,11.139,0,0,1-2.2.67A12.366,12.366,0,0,1,11.586,22.75ZM10.818,2.844A7.589,7.589,0,0,0,5.777,4.621,8.665,8.665,0,0,0,2.959,9.226L2.8,9.953H18.2l-.079-.566a6.663,6.663,0,0,0-2.262-4.605A7.211,7.211,0,0,0,10.818,2.844Z" transform="translate(84 14)" fill="#002f3d"/>
                                    <path id="Fill_57" data-name="Fill 57" d="M20.047,0,11.3,20.355,2.632,0H0V0H0V.346H0v22.4H2.386V5.851L9.71,22.75h3.26L22.75,0Z" transform="translate(62.125 14)" fill="#002f3d"/>
                                    <path id="Fill_58" data-name="Fill 58" d="M26.952,18.089l-1.029.978V15.074H23.55V34.537H21.957c0-3.175,0-8.651,0-8.7a11.236,11.236,0,0,0-3.164-7.918,10.33,10.33,0,0,0-7.754-3.3,10.4,10.4,0,0,0-7.794,3.341,12.323,12.323,0,0,0-.854.993l0-4.409V0H.017V18.006L0,24.473H2.625a8.058,8.058,0,0,1,2.319-4.758,8.131,8.131,0,0,1,6.093-2.648,8.007,8.007,0,0,1,6.053,2.648,8.878,8.878,0,0,1,2.491,6.126c0,.045,0,5.52,0,8.7l0,2.212h6.344V25.1a9.066,9.066,0,0,1,2.651-5.5,7.509,7.509,0,0,1,5.5-2.241,7.267,7.267,0,0,1,4.035,1.3l1.266-2.118a8.7,8.7,0,0,0-5.3-1.63A10,10,0,0,0,26.952,18.089Z" transform="translate(20.125)" fill="#002f3d"/>
                                    <path id="Fill_59" data-name="Fill 59" d="M20.125,17.511c-.224,2-.926,2.97-2.391,4.478a8.443,8.443,0,0,1-6.3,2.671A8.575,8.575,0,0,1,5.1,21.989,8.752,8.752,0,0,1,2.469,15.62c0-.027,0-4.4,0-8.507H14.294V4.648H2.469c0-2.593,0-4.63,0-4.648H0C0,.058,0,15.562,0,15.62a11.147,11.147,0,0,0,3.333,8.136,10.972,10.972,0,0,0,8.106,3.369A10.908,10.908,0,0,0,19.5,23.8a9.079,9.079,0,0,0,3.052-6.336Z" transform="translate(0 9.625)" fill="#d3791d"/>
                                    <path id="Fill_60" data-name="Fill 60" d="M.677,3.738A2,2,0,0,1,0,2.227,2.136,2.136,0,0,1,.677.676,2.134,2.134,0,0,1,2.227,0,2.012,2.012,0,0,1,3.739.676a2.2,2.2,0,0,1,.636,1.551,2.061,2.061,0,0,1-.636,1.511,2.061,2.061,0,0,1-1.511.637A2.189,2.189,0,0,1,.677,3.738" transform="translate(61.25 7)" fill="#002f3d"/>
                                </g>
                            </svg>
                        </a>
                    </div>
                    <div class="toggler hide-desktop" onclick="document.getElementsByTagName('HTML')[0].classList.toggle('menu-open');resetMenu();">
                        <div class="mtoggler burger">
                            <span aria-hidden="true"></span>
                            <span aria-hidden="true"></span>
                            <span aria-hidden="true"></span>
                        </div>
                    </div>
                </div>
                <div class="menu-wrapper" onclick="console.log('click');">
                    <div class="inner">
                        <list class="menu-list">
                        {% for item in header_primary_menu.get_items %}                      
                            <item class="menu-item {% if item.children %}sub{% endif %}" {% if item.children %}onclick="toggleSubMenu(this);"{% endif %}>
                                <a class="menu-link {% if item.children %}sub{% endif %}" href="{% if item.children %}#{% else %}{{item.link}}{% endif %}">{{item.title}}</a>
                                {% if item.children %}
                                    <div class="submenu {% if item.meta('megamenu') %}mega{% endif %}">
                                        <div class="submenu-head"></div>
                                        <div class="submenu-body">
                                            <list class="submenu-list">
                                            {% for child in item.children %}
                                            {% set icon = fn('get_field', 'icon', child) %}
                                                <a class="submenu-item" href="{{child.link}}">
                                                    {% if item.meta('megamenu') %}
                                                    <div class="submenu-icon">{{imageElement(icon)}}</div>
                                                    {% endif %}
                                                    <div class="submenu-content">
                                                        <div class="submenu-link" >{{child.title}}</div>
                                                        <div class="submenu-desc hide-mobile">
                                                            {{child.description}}
                                                        </div>
                                                    </div>
                                                </a>
                                            {% endfor %}
                                            </list>
                                        </div>
                                        <a class="submenu-footer" href="{{item.link}}">
                                            <span>SEE ALL</span>
                                        </a>
                                    </div>
                                {% endif %}
                            </item>
                        {% endfor %}
                            <item class="menu-item hide-mobile">
                                <a class="menu-link login" href="/login"><span>Login</span></a>
                            </item>
                            <item class="menu-item tel hide-desktop">
                                <a class="menu-link" href="tel:00353719662552"><span>+353 71 966 2552</span></a>
                            </item>
                            <item class="menu-item demo hide-desktop">
                                <a class="menu-link" href="#"><span>Request a Demo</span></a>
                            </item>
                        </list>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</header>

<script>
 function toggleSubMenu(el) {
    if(screen.width < 1024) {
        if(el.classList.contains('active')) {
            el.classList.remove('active');
        } else {
            [...document.querySelectorAll('.menu-item.active')].forEach(function(element) {
                element.classList.remove('active');
            });
            el.classList.toggle('active');
        }
    }
 }
</script>
{% endblock %}
