{% extends "block-base.twig" %}

{% block content %}
<div class="{{blockClasses(block)}}">
    <a class="btn" href="{{fields.link.url}}" target="{{fields.link.target}}">
        <span>{{fields.link.title}}</span>
    </a>
</div>

{% endblock %}

