html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  box-sizing: border-box;
  vertical-align: baseline;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

item {
  display: list-item;
  list-style: none;
}

body {
  margin: 0;
}

.container {
  margin: 0 auto;
  width: auto;
  max-width: 960px;
}
.container.is-style-fluid {
  max-width: none !important;
  padding-left: 32px;
  padding-right: 32px;
  width: 100%;
}
.container-xl, .container-sm {
  margin: 0 auto;
  width: auto;
}

@media only screen and (min-width: 1024px) {
  .container {
    max-width: 90vw;
  }
}
@media only screen and (min-width: 1366px) {
  .container {
    max-width: 1280px;
  }
}
@media only screen and (min-width: 1536px) {
  .container {
    max-width: 1366px;
  }
}
@media only screen and (min-width: 1024px) {
  .container-sm {
    max-width: 65vw;
  }
}
@media only screen and (min-width: 1024px) {
  .container-xl {
    max-width: 960px;
  }
}
@media only screen and (min-width: 1280px) {
  .container-xl {
    max-width: 1200px;
  }
}
@media only screen and (min-width: 1366px) {
  .container-xl {
    max-width: 1366px;
  }
}

.size-full {
  width: 100%;
}

.aligncenter {
  text-align: center;
}

.preview {
  width: 100%;
  max-width: 100%;
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

@media only screen and (max-width: 1279px) {
  .hide-mobile {
    display: none !important;
  }
}
@media only screen and (min-width: 1280px) {
  .hide-desktop {
    display: none !important;
  }
}

.wp-site-blocks {
  overflow: hidden;
}

.orange-bar {
  height: 8px;
  width: 100%;
  display: block;
  background: #FF9900;
}

/* comfortaa-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 300;
  src: url("/wp-content/themes/medqo/assets/fonts/comfortaa-v40-latin-300.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* comfortaa-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 400;
  src: url("/wp-content/themes/medqo/assets/fonts/comfortaa-v40-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* comfortaa-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 600;
  src: url("/wp-content/themes/medqo/assets/fonts/comfortaa-v40-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* comfortaa-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 700;
  src: url("/wp-content/themes/medqo/assets/fonts/comfortaa-v40-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
html {
  font-size: 16px;
  font-family: "Comfortaa", sans-serif;
}
@media only screen and (min-width: 1280px) {
  html {
    font-size: 20px;
  }
}

p {
  margin: 0.7em 0;
  line-height: 1.2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.5em 0;
  line-height: 1.14;
  font-weight: 500;
  color: rgb(0, 47, 61);
}

h1 {
  font-size: calc(1.425rem + 2.1vw);
}
@media (min-width: 1200px) {
  h1 {
    font-size: 3rem;
  }
}
h2 {
  font-size: calc(1.375rem + 1.5vw);
}
@media (min-width: 1200px) {
  h2 {
    font-size: 2.5rem;
  }
}
h3 {
  font-size: calc(1.325rem + 0.9vw);
}
@media (min-width: 1200px) {
  h3 {
    font-size: 2rem;
  }
}
h4 {
  font-size: calc(1.275rem + 0.3vw);
}
@media (min-width: 1200px) {
  h4 {
    font-size: 1.5rem;
  }
}
h5 {
  font-size: 1.25rem;
}
h6 {
  font-size: 1.15rem;
}

strong {
  font-weight: 700;
}

.has-text-align-center {
  text-align: center;
}

.theme-button {
  margin-top: 25px;
}
@media only screen and (min-width: 768px) {
  .theme-button {
    margin-top: 35px;
  }
}

.btn {
  display: block;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s ease-out;
  background: #f90;
  font-weight: 700;
  position: relative;
  min-width: 200px;
  border-radius: 55px;
  width: fit-content;
  line-height: 1;
}
@media only screen and (min-width: 768px) {
  .btn {
    min-width: 356px;
  }
}
.btn span {
  transform: translate(0px, -5px);
  transition: all 0.3s ease-out;
  display: block;
  background: white;
  z-index: 2;
  border-radius: 55px;
  color: #150578;
  position: relative;
  padding: 15px 25px;
  font-size: 18px;
}
@media only screen and (min-width: 1280px) {
  .btn span {
    font-size: 22px !important;
    padding: 22px 40px;
  }
}
.btn:before {
  position: absolute;
  top: 5px;
  bottom: -5px;
  left: 0;
  right: 0;
  background: #f90;
  border-radius: 55px;
  z-index: 1;
}
.btn:hover span {
  transform: translate(3px, -7px);
}

/*# sourceMappingURL=base.css.map */
