block-preview {
  /* HTML5 display-role reset for older browsers */
}
block-preview html, block-preview body, block-preview div, block-preview span, block-preview applet, block-preview object, block-preview iframe,
block-preview h1, block-preview h2, block-preview h3, block-preview h4, block-preview h5, block-preview h6, block-preview p, block-preview blockquote, block-preview pre,
block-preview a, block-preview abbr, block-preview acronym, block-preview address, block-preview big, block-preview cite, block-preview code,
block-preview del, block-preview dfn, block-preview em, block-preview img, block-preview ins, block-preview kbd, block-preview q, block-preview s, block-preview samp,
block-preview small, block-preview strike, block-preview strong, block-preview sub, block-preview sup, block-preview tt, block-preview var,
block-preview b, block-preview u, block-preview i, block-preview center,
block-preview dl, block-preview dt, block-preview dd, block-preview ol, block-preview ul, block-preview li,
block-preview fieldset, block-preview form, block-preview label, block-preview legend,
block-preview table, block-preview caption, block-preview tbody, block-preview tfoot, block-preview thead, block-preview tr, block-preview th, block-preview td,
block-preview article, block-preview aside, block-preview canvas, block-preview details, block-preview embed,
block-preview figure, block-preview figcaption, block-preview footer, block-preview header, block-preview hgroup,
block-preview menu, block-preview nav, block-preview output, block-preview ruby, block-preview section, block-preview summary,
block-preview time, block-preview mark, block-preview audio, block-preview video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  box-sizing: border-box;
  vertical-align: baseline;
}
block-preview article, block-preview aside, block-preview details, block-preview figcaption, block-preview figure,
block-preview footer, block-preview header, block-preview hgroup, block-preview menu, block-preview nav, block-preview section {
  display: block;
}
block-preview body {
  line-height: 1;
}
block-preview ol, block-preview ul {
  list-style: none;
}
block-preview blockquote, block-preview q {
  quotes: none;
}
block-preview blockquote:before, block-preview blockquote:after,
block-preview q:before, block-preview q:after {
  content: "";
  content: none;
}
block-preview table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  margin: 0;
}

.container {
  margin: 0 auto;
  width: auto;
  max-width: 960px;
}
.container.is-style-fluid {
  max-width: none !important;
  padding-left: 32px;
  padding-right: 32px;
  width: 100%;
}
.container-xl, .container-sm {
  margin: 0 auto;
  width: auto;
}

@media only screen and (min-width: 1024px) {
  .container {
    max-width: 90vw;
  }
}
@media only screen and (min-width: 1366px) {
  .container {
    max-width: 1280px;
  }
}
@media only screen and (min-width: 1536px) {
  .container {
    max-width: 1366px;
  }
}
@media only screen and (min-width: 1024px) {
  .container-sm {
    max-width: 65vw;
  }
}
@media only screen and (min-width: 1024px) {
  .container-xl {
    max-width: 960px;
  }
}
@media only screen and (min-width: 1280px) {
  .container-xl {
    max-width: 1200px;
  }
}
@media only screen and (min-width: 1366px) {
  .container-xl {
    max-width: 1366px;
  }
}

.size-full {
  width: 100%;
}

.aligncenter {
  text-align: center;
}

.preview {
  width: 100%;
  max-width: 100%;
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

@media only screen and (max-width: 1279px) {
  .hide-mobile {
    display: none !important;
  }
}
@media only screen and (min-width: 1280px) {
  .hide-desktop {
    display: none !important;
  }
}

.wp-site-blocks {
  overflow: hidden;
}

.orange-bar {
  height: 8px;
  width: 100%;
  display: block;
  background: #FF9900;
}

/* comfortaa-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 300;
  src: url("/wp-content/themes/medqo/assets/fonts/comfortaa-v40-latin-300.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* comfortaa-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 400;
  src: url("/wp-content/themes/medqo/assets/fonts/comfortaa-v40-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* comfortaa-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 600;
  src: url("/wp-content/themes/medqo/assets/fonts/comfortaa-v40-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* comfortaa-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 700;
  src: url("/wp-content/themes/medqo/assets/fonts/comfortaa-v40-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
html {
  font-size: 16px;
  font-family: "Comfortaa", sans-serif;
}
@media only screen and (min-width: 1280px) {
  html {
    font-size: 20px;
  }
}

p {
  margin: 0.7em 0;
  line-height: 1.2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.5em 0;
  line-height: 1.14;
  font-weight: 500;
  color: rgb(0, 47, 61);
}

h1 {
  font-size: calc(1.425rem + 2.1vw);
}
@media (min-width: 1200px) {
  h1 {
    font-size: 3rem;
  }
}
h2 {
  font-size: calc(1.375rem + 1.5vw);
}
@media (min-width: 1200px) {
  h2 {
    font-size: 2.5rem;
  }
}
h3 {
  font-size: calc(1.325rem + 0.9vw);
}
@media (min-width: 1200px) {
  h3 {
    font-size: 2rem;
  }
}
h4 {
  font-size: calc(1.275rem + 0.3vw);
}
@media (min-width: 1200px) {
  h4 {
    font-size: 1.5rem;
  }
}
h5 {
  font-size: 1.25rem;
}
h6 {
  font-size: 1.15rem;
}

strong {
  font-weight: 700;
}

.has-text-align-center {
  text-align: center;
}

.theme-button {
  margin-top: 25px;
}
@media only screen and (min-width: 768px) {
  .theme-button {
    margin-top: 35px;
  }
}

.btn {
  display: block;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s ease-out;
  background: #f90;
  font-weight: 700;
  position: relative;
  min-width: 200px;
  border-radius: 55px;
  width: fit-content;
  line-height: 1;
}
@media only screen and (min-width: 768px) {
  .btn {
    min-width: 356px;
  }
}
.btn span {
  transform: translate(0px, -5px);
  transition: all 0.3s ease-out;
  display: block;
  background: white;
  z-index: 2;
  border-radius: 55px;
  color: #150578;
  position: relative;
  padding: 15px 25px;
  font-size: 18px;
}
@media only screen and (min-width: 1280px) {
  .btn span {
    font-size: 22px !important;
    padding: 22px 40px;
  }
}
.btn:before {
  position: absolute;
  top: 5px;
  bottom: -5px;
  left: 0;
  right: 0;
  background: #f90;
  border-radius: 55px;
  z-index: 1;
}
.btn:hover span {
  transform: translate(3px, -7px);
}

.block-editor-default-block-appender .block-editor-inserter {
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
  padding: 10px;
  border: 5px dotted #d50032;
  width: calc(100% - 30px);
}
.block-editor-default-block-appender .block-editor-inserter button {
  transition: all 0.3s ease-out;
  margin: auto !important;
  background: #d50032 !important;
  border: 1px solid #d50032 !important;
}
.block-editor-default-block-appender .block-editor-inserter button svg {
  transition: all 0.3s ease-out;
  color: white;
}
.block-editor-default-block-appender .block-editor-inserter button:hover {
  background: white !important;
}
.block-editor-default-block-appender .block-editor-inserter button:hover svg {
  color: #d50032;
}

.block-editor-block-list__block .block-list-appender {
  position: relative !important;
}

.block-editor-block-list__block .block-list-appender .block-editor-default-block-appender {
  height: 54px !important;
}

block-preview .acf-block-body {
  margin: 50px 0 !important;
}

block-preview section {
  padding: 50px 0 !important;
}
block-preview p,
block-preview li {
  margin: 0.5em !important;
  line-height: 1.2 !important;
}

/*# sourceMappingURL=editor.css.map */
